In [1]:
from data_splitting import train_test_split
import pandas as pd

# Disclaimer

### This is just an example notebook for the self implemented train test split function. It shows most of the implemented functionality for the train test split function.

In [2]:
df = pd.read_csv('../datasets/diabetes.csv')
display(df.head())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
train, test = train_test_split(df, testing_size=0.2, random_state=20)()

display(train.head())
display(test.head())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,10.0,108.0,66.0,0.0,0.0,32.4,0.272,42.0,1.0
1,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0,1.0
2,3.0,96.0,78.0,39.0,0.0,37.3,0.238,40.0,0.0
3,8.0,110.0,76.0,0.0,0.0,27.8,0.237,58.0,0.0
4,0.0,126.0,86.0,27.0,120.0,27.4,0.515,21.0,0.0

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0,1.0
1,10.0,168.0,74.0,0.0,0.0,38.0,0.537,34.0,1.0
2,10.0,139.0,80.0,0.0,0.0,27.1,1.441,57.0,0.0
3,7.0,133.0,84.0,0.0,0.0,40.2,0.696,37.0,0.0
4,7.0,106.0,92.0,18.0,0.0,22.7,0.235,48.0,0.0

In [4]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Outcome', axis = 1), df['Outcome'], testing_size=0.2, random_state=20)()

display(X_train.head())
display(X_test.head())
display(y_train.head())
display(y_test.head())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,10.0,108.0,66.0,0.0,0.0,32.4,0.272,42.0
1,5.0,166.0,72.0,19.0,175.0,25.8,0.587,51.0
2,3.0,96.0,78.0,39.0,0.0,37.3,0.238,40.0
3,8.0,110.0,76.0,0.0,0.0,27.8,0.237,58.0
4,0.0,126.0,86.0,27.0,120.0,27.4,0.515,21.0

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26.0
1,10.0,168.0,74.0,0.0,0.0,38.0,0.537,34.0
2,10.0,139.0,80.0,0.0,0.0,27.1,1.441,57.0
3,7.0,133.0,84.0,0.0,0.0,40.2,0.696,37.0
4,7.0,106.0,92.0,18.0,0.0,22.7,0.235,48.0

   Outcome
0        1
1        1
2        0
3        0
4        0

   Outcome
0        1
1        1
2        0
3        0
4        0